.root {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.viewport {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-grow: 1;

  background-color: #000000;
  

  canvas {
    display: block;
    
  }
  
  &:fullscreen canvas{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &.pixelated canvas {
    image-rendering: pixelated;
  }
}

.renderingPreview {
  canvas {
    max-width: 100%;
    max-height: 100%;
  }
}

.alphaBackground canvas {
  background-color: rgba(0, 0, 0, 0.16);
  background-size: 80px;
  background-position: center;
  background-image: url('../../img/grid.svg');
}

.canvasOutline canvas {
  outline: 1px solid var(--surface-color);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.playback {
  background: var(--surface-color);
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 12px;
}

.time {
  color: rgba(255, 255, 255, 0.54);
  text-align: left;
}

.duration {
  color: rgba(255, 255, 255, 0.54);
  text-align: right;
}

.frames {
  margin: 0 8px;
  color: rgba(255, 255, 255, 0.32);
}

.controls {
  --input-background: var(--surface-color);
  bottom: auto;
  right: auto;
  padding: 12px;
  gap: 8px;
  display: flex;
}
 
.darkModeToggle{
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  color: red
}