.iconCheckbox {
  &.main {
    color: #fff;
  }

  &.checked {
    color: var(--theme);

    &:hover {
      color: var(--theme);
    }

    &.main {
      color: #fff;
    }
  }
}

.iconButton {
  -webkit-appearance: none;
  display: block;
  cursor: pointer;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  color: rgba(255, 255, 255, 0.54);

  &:hover {
    color: #fff;
  }
}

.group {
  display: flex;
  gap: 8px;
  padding: 4px 0;
}

.label {
  flex-basis: 40%;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 24px;
}

.select,
.input,
.button {
  background-color: var(--surface-color-light);
  color: rgba(255, 255, 255, 0.6);
  border: 0;
  border-radius: 4px;
  padding: 0 8px;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 100%;
  min-width: 0;

  &:hover {
    background-color: var(--surface-color-hover);
  }

  &.main {
    background-color: var(--theme);
    color: rgba(0, 0, 0, 0.87);
    font-weight: bold;

    &:hover {
      box-shadow: 0 0 0 2px white inset;
    }
  }
}

.inputSelect {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;

  .input {
    width: 0;
    border-radius: 4px 0 0 4px;
    border-right: 1px solid var(--surface-color);
  }

  .select {
    font-size: 0;
    flex-grow: 0;
    flex-basis: 0;
    padding-left: 16px;
    border-radius: 0 4px 4px 0;
  }
}

.input[type='number'] {
  text-align: right;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  -moz-appearance: textfield;
}

.color {
  display: flex;
  padding-left: 0;
  align-items: center;

  input {
    width: 0;
    flex-shrink: 1;
    flex-grow: 1;
    margin: 0 8px 0 0;
    padding-left: 8px;
    appearance: none;
    border: 0;
    background-color: transparent;
    color: inherit;
  }
}

.colorPreview {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  flex-shrink: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.16);
  background-image: url('../../img/grid.svg');
  overflow: hidden;

  div {
    width: 16px;
    height: 16px;
  }
}

.select,
.button {
  cursor: pointer;
}

.toggle {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);

  &:hover {
    background-color: var(--surface-color-hover);
  }

  svg {
    transition: rotate 0.2s;
  }

  &.open svg {
    rotate: 90deg;
  }
}

.pill {
  color: rgba(255, 255, 255, 0.7);
  background-color: var(--surface-color-light);
  user-select: none;
  line-height: 24px;
  border-radius: 12px;
  padding: 0 12px;
  cursor: pointer;

  &:hover {
    background-color: var(--surface-color-hover);
  }

  &.checked {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.87);
    background-color: var(--theme);

    &:hover {
      box-shadow: 0 0 0 2px white inset;
    }
  }
}
