.root {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: space-between;
  width: 100%;
  height: 24px;
  padding: 4px;
  gap: 4px;
}

.shortcuts {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

.shortcut {
  display: flex;

  &:not(:last-child) {
    border-right: 2px solid var(--surface-color);
    padding-right: 8px;
    margin-right: 8px;
  }
  .key {
    background-color: var(--surface-color-hover);
    font-weight: bold;
    border-radius: var(--radius);
    margin-right: 4px;
    padding: 0 4px;
    font-size: 12px;
  }
  .action {
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
  }
}
