.root {
  padding: 0 4px;
  position: relative;
  display: flex;
  gap: 8px;
}

.link {
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
  }

  &.main {
    color: var(--theme);
  }
}
