@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

:root {
  --theme: #33a6ff;
  --theme-overlay: rgba(51, 166, 255, 0.24);
  --background-color: #181818;
  --background-color-dark: #141414;
  --surface-color: #242424;
  --surface-color-light: #444444;
  --surface-color-hover: #333333;
  --scrollbar-background: var(--surface-color);
  --input-background: var(--surface-color-light);
  --input-background-hover: var(--surface-color-hover);

  --red: #e13238;
  --yellow: #e6a700;
  --blue: #4cb3d4;
}

.wait * {
  cursor: wait !important;
}

* {
  box-sizing: border-box;
  font-family: 'JetBrains Mono', sans-serif;
  font-size: 14px;
  accent-color: var(--theme);

  &::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    background-color: var(--scrollbar-background);
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.24);
    border: 6px solid var(--scrollbar-background);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

html,
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: rgba(255, 255, 255, 0.6);
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  display: block;
  width: 24px;
  height: 24px;
}

button {
  background: none;
  appearance: none;
  border: 0;
  padding: 0;
}
