@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

:root {
  --theme: #33a6ff;
  --theme-overlay: rgba(51, 166, 255, 0.24);
  --background-color: #181818;
  --background-color-dark: #141414;
  --surface-color: #242424;
  --surface-color-light: #444444;
  --surface-color-hover: #333333;
  --scrollbar-background: var(--surface-color);

  --red: #e13238;
  --yellow: #e6a700;
  --blue: #4cb3d4;
}

.wait * {
  cursor: wait !important;
}

* {
  box-sizing: border-box;
  font-family: 'JetBrains Mono', sans-serif;
  font-size: 14px;
  accent-color: var(--theme);

  &::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    background-color: var(--scrollbar-background);
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.24);
    border: 6px solid var(--scrollbar-background);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

html,
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: rgba(255, 255, 255, 0.6);
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  display: block;
  width: 24px;
  height: 24px;
}

button {
  background: none;
  appearance: none;
  border: 0;
  padding: 0;
}

select {
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M16.71 10.71L15.29 9.28998L12 12.59L8.71001 9.28998L7.29001 10.71L12 15.41L16.71 10.71Z' fill='gray'/%3e%3c/svg%3e")
    no-repeat 100% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
