.root {
  background-color: var(--surface-color);
  border-radius: var(--radius);
  width: 100%;
  margin: 16px;
  max-width: 480px;
  max-height: calc(100% - 32px);
  overflow-y: auto;
}

.header {
  position: sticky;
  top: 0;
  margin: 0;
  display: flex;
  gap: 16px;
  padding: 16px;
  border-radius: var(--radius) var(--radius) 0 0;
  background-color: var(--surface-color);
  border-bottom: 1px solid var(--background-color-dark);
}

.list {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.element {
  text-decoration: none;
  display: block;
  padding: 8px;
  border-radius: var(--radius);

  &:hover {
    background-color: var(--surface-color-hover);
  }
}

.title {
  color: rgba(255, 255, 255, 0.6);
}

.subtitle {
  font-size: var(--font-size-small);
  color: rgba(255, 255, 255, 0.32);
}
