.root {
  border-top: 2px solid var(--background-color);
  margin-top: -1px;
}

.title {
  padding: 7px 0 8px;
  user-select: none;
  cursor: pointer;

  display: flex;
  align-items: center;
}

.content {
  padding-bottom: 16px;
}

.root:last-child .content {
  padding-bottom: 0;
}
