.surface {
  --field-color: var(--surface-color-light);
  --field-color-hover: var(--surface-color-hover);
  --field-color-border: var(--surface-color);

  background: var(--field-color);
  color: rgba(255, 255, 255, 0.6);
  border-radius: var(--radius);
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 100%;
  min-width: 0;
  overflow: hidden;

  &.disabled {
    opacity: 0.54;
    pointer-events: none;
  }

  .surface {
    --field-color: var(--surface-color);
    --field-color-hover: var(--surface-color-hover);
    --field-color-border: var(--surface-color-light);
  }
}

.header {
  display: flex;
  align-items: center;
  height: 24px;
  transition: color var(--duration-normal);

  .open > & {
    color: rgba(255, 255, 255, 0.32);
  }
}

.fields {
  &.nested {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 4px;
  }

  & > .field {
    border-top: 1px solid var(--field-color-border);
  }
}

.field {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
  overflow: hidden;

  &.copy {
    cursor: pointer;
    &:hover {
      background-color: var(--field-color-hover);
    }
  }

  &::before {
    content: 'value copied!';
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    background-color: var(--field-color-hover);
    color: white;
    opacity: 0;
    transition: opacity var(--duration-normal);
  }

  &.copied::before {
    opacity: 1;
    transition: opacity 0s;
  }
}

.label {
  padding: 0 8px;
  pointer-events: none;
}

.value {
  font-family: var(--font-family-mono);
  padding: 0 8px;
  flex-shrink: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &.right {
    text-align: right;
  }

  &.grow {
    flex-shrink: 1;
    flex-grow: 1;
  }
}
