.feature {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 0 var(--ifm-spacing-horizontal);
  margin-bottom: 4rem;
}

.feature b {
  color: var(--ifm-color-primary);
}

.banner {
  text-align: center;
  flex-direction: column;
  margin-top: 2rem;
}

.logo {
  width: 100%;
  max-width: 15rem;
}

.title {
  font-size: 2rem;
}

.description {
  font-size: 1.25rem;
}

.buttons {
  padding-top: var(--ifm-spacing-vertical);
  gap: var(--ifm-spacing-horizontal);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 100%;
  max-width: 40rem;
}

.content {
  width: 100%;
  max-width: 30rem;
}

.preview {
  background-color: var(--ifm-background-surface-color);
  border-radius: var(--ifm-global-radius);
  border: 1px solid var(--ifm-color-emphasis-100);
  --ifm-leading: 0;
  width: 100%;
  max-width: 40rem;
}

.preview iframe {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.preview svg {
  display: block;
}

.preview svg g {
  animation: slide 4s infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0px);
  }
}

@media screen and (min-width: 640px) {
  .logo {
    max-width: 20rem;
  }

  .title {
    font-size: 3rem;
  }

  .description {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 960px) {
  .feature {
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 2rem;
  }

  .banner {
    align-items: center;
    text-align: start;
    margin-top: 4rem;
    margin-bottom: 6rem;
  }

  .buttons {
    justify-content: start;
  }

  .wrapper {
    margin-top: 2rem;
    max-width: 26rem;
  }
}
