.progress {
  height: 2px;
  background-color: var(--background-color-dark);
}

.progressFill {
  height: 2px;
  background-color: var(--theme);
}

.controls {
  display: flex;
  justify-content: center;
  gap: 16px;

  select,
  input {
    width: 100px;
  }
}

.volumeTrigger {
  position: relative;
}

.volumeMargin {
  position: absolute;
  bottom: 24px;
  left: -12px;
  width: 48px;
  height: 180px;
  display: none;
}

.volume {
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 144px;
  border-radius: var(--radius);
  background-color: var(--surface-color);
}

.volumeTrigger:hover .volumeMargin {
  display: grid;
}
