.progress {
  height: 2px;
  background-color: var(--background-color-dark);
}

.progressFill {
  height: 2px;
  background-color: var(--theme);
}

.controls {
  display: flex;
  justify-content: center;
  gap: 16px;

  &.disabled {
    opacity: 0.54;
    pointer-events: none;
  }

  select,
  input {
    width: 100px;
  }
}
