.progress {
  height: 2px;
  background-color: var(--background-color-dark);
}

.progressFill {
  height: 2px;
  background-color: var(--theme);
}

.select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 16px;

  &.disabled {
    opacity: 0.54;
    pointer-events: none;
  }
}
