.icon {
  &:after {
    width: 24px;
    height: 24px;
    display: block;
    content: '';
    background: #ffffff;
  }
}

.iconCheckbox {
  width: 24px;
  height: 24px;
}

.iconInput {
  display: none;
}

.iconLabel {
  width: 24px;
  height: 24px;
  display: block;
  cursor: pointer;
  opacity: 0.54;
  &.main {
    opacity: 1;
  }

  .iconInput + &:hover {
    opacity: 1 !important;
  }

  .iconInput:checked + & {
    opacity: 1;
    &:after {
      background: var(--theme);
    }
    &.main:after {
      background: #ffffff;
    }
  }
}

.button {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  display: block;
  cursor: pointer;
  border: 0;
  opacity: 0.54;
  background: transparent;
  padding: 0;
  margin: 0;

  &:hover {
    opacity: 1;
  }
}

.select,
.input {
  background: #404040;
  color: rgba(255, 255, 255, 0.6);
  border: 0;
  border-radius: 4px;
  padding: 0 8px;
  font-size: 14px;
}

.pause:after {
  -webkit-mask-image: url('../../img/icons/pause.svg');
}
.play:after {
  -webkit-mask-image: url('../../img/icons/play_arrow.svg');
}
.repeat:after {
  -webkit-mask-image: url('../../img/icons/repeat.svg');
}
.skipNext:after {
  -webkit-mask-image: url('../../img/icons/skip_next.svg');
}
.skipPrevious:after {
  -webkit-mask-image: url('../../img/icons/skip_previous.svg');
}
.volumeOn:after {
  -webkit-mask-image: url('../../img/icons/volume_on.svg');
}
.volumeOff:after {
  -webkit-mask-image: url('../../img/icons/volume_off.svg');
}
.schedule:after {
  -webkit-mask-image: url('../../img/icons/schedule.svg');
}
.tune:after {
  -webkit-mask-image: url('../../img/icons/tune.svg');
}
.videoSettings:after {
  -webkit-mask-image: url('../../img/icons/video_settings.svg');
}
