.controls {
  position: absolute;
  bottom: 16px;

  display: flex;
  gap: 16px;
  padding: 16px;
  background-color: var(--surface-color);
  border-radius: var(--radius);
}

.count {
  color: rgba(255, 255, 255, 0.32);
  text-align: right;
  user-select: none;
}
