.root {
  background-color: #242424;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  position: relative;

  &::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    background-color: #242424;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.24);
    border: 6px solid #242424;
    border-radius: 8px;
  }
}

.track {
  position: relative;
  padding-top: 16px;
  overflow: hidden;
}

.timestampTrack {
  position: relative;
  width: 100%;
  height: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  user-select: none;
}

.timestamp {
  color: rgba(255, 255, 255, 0.54);
  font-size: 12px;
  position: absolute;
  padding: 0 4px;
  top: 0;
  bottom: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.24);
}

.sceneTrack {
  position: relative;
  height: 48px;
  padding: 4px 0;
}

.sceneClip {
  position: absolute;
  height: 48px;
  padding: 4px;

  &::before {
    box-sizing: border-box;
    padding: 0 12px;
    content: attr(data-name);
    display: block;
    line-height: 42px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.24);
  }
}

.labelTrack {
  position: relative;
  height: 32px;
  padding: 4px 0;
}

.labelClip {
  position: absolute;
  height: 32px;
  padding: 4px;
  cursor: pointer;

  &::before {
    content: attr(data-name);
    display: block;
    line-height: 24px;
    border-radius: 0 12px 12px 12px;
    padding: 0 8px;
    background-color: var(--theme);
  }
}

.playhead {
  position: absolute;
  width: 2px;
  top: 0;
  bottom: 0;
  background-color: var(--theme);
  pointer-events: none;
}

.playheadPreview {
  position: absolute;
  width: 1px;
  top: 0;
  bottom: 0;
  background-color: white;
  opacity: 0;
  pointer-events: none;

  .root:hover & {
    opacity: 0.24;
  }
}