.root {
  background-color: #242424;
}

.pane {
  width: 100%;
  height: 100%;
  padding: 16px;
}

.header {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 16px;
}