.root {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.viewport {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  background-color: #000000;
}

.playback {
  background: #181818;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 12px;
}

.time {
  color: rgba(255, 255, 255, 0.54);
  font-size: 14px;
  line-height: 24px;
  text-align: left;
}

.duration {
  color: rgba(255, 255, 255, 0.54);
  font-size: 14px;
  line-height: 24px;
  text-align: right;
}
