:root {
  --theme: #33a6ff;
}

* {
  box-sizing: border-box;
  font-family: "JetBrains Mono", sans-serif;
}

html,
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #000000;
  color: rgba(255, 255, 255, 0.6);
}

main {
  width: 100vw;
  height: 100vh;
}