.times {
  rotate: 45deg;
  color: rgba(255, 255, 255, 0.32);
  margin: 0 -4px;
  flex-shrink: 0;
}

.thread {
  padding: 8px 0;

  .thread {
    padding: 4px 0;
  }
}

.threadTitle {
  display: flex;
  align-items: center;
  flex-shrink: 1;
  flex-grow: 0;
}

.threadList {
  padding: 0;
  margin: 8px 0 8px 8px;
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 10px;
    width: 2px;

    display: block;
    content: '';
    margin-bottom: 4px;
    background-color: var(--surface-color-light);
  }

  .threadList {
    margin: 8px 0 8px 24px;
  }

  .threadTitle {
    display: flex;
    align-items: center;

    &::before {
      display: block;
      flex-grow: 0;
      flex-shrink: 0;
      content: '';
      width: 16px;
      height: 2px;
      margin-right: 4px;
      background-color: var(--surface-color-light);
    }
  }
}
