.root {
  position: relative;
  border-radius: var(--ifm-code-border-radius);
  overflow: hidden;
  box-shadow: var(--ifm-global-shadow-lw);
  margin-bottom: var(--ifm-leading);
}

.root:focus-within .layoutControl,
.root:hover .layoutControl {
  opacity: 1;
}

.layoutControl {
  z-index: 1;
  transition: opacity 200ms ease-in-out;
  opacity: 0;
  display: flex;
  column-gap: 0.2rem;
  position: absolute;
  right: calc(var(--ifm-pre-padding) / 2);
  top: calc(var(--ifm-pre-padding) / 2);
}

.layoutControl .icon {
  transition: color var(--ifm-transition-fast);
  color: var(--ifm-color-emphasis-300);
}

.icon.active {
  color: var(--ifm-font-color-base);
  pointer-events: none;
}

.progress {
  height: 1px;
  margin-bottom: -1px;
  position: relative;
  z-index: 1;
  background-color: var(--ifm-color-primary-lightest);
}

.controls {
  background-color: var(--ifm-background-surface-color);
  display: flex;
  border-bottom: 1px solid var(--ifm-color-emphasis-300);
  border-top: 1px solid var(--ifm-color-emphasis-300);
}

.previewOnly .controls {
  border-bottom: none;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
}

.section.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.section:first-child {
  flex-basis: 100%;
  justify-content: start;
}

.section:last-child {
  flex-basis: 100%;
  justify-content: end;
}

.icon {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--ifm-font-color-base);
  transition: background var(--ifm-transition-fast);
}

.icon:hover {
  background-color: var(--ifm-color-emphasis-200);
  color: var(--ifm-font-color-base);
}

.root button {
  appearance: none;
  background-color: unset;
  border: none;
}

.error {
  border-radius: 0;
  margin: 0;
  border-top: 1px solid var(--ifm-color-danger-dark);
  border-bottom: 1px solid var(--ifm-color-danger-dark);
  white-space: pre-wrap;
}

.editor {
}

.root .editor .source {
  display: none;
  margin-bottom: 0;
  padding-left: 38px;
}

.source > div > div {
  display: none !important;
}

.root .editor .source:first-child:last-child {
  display: block;
}

.preview {
  background-color: var(--ifm-background-surface-color);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview canvas {
  max-width: 100%;
  max-height: 100%;
}

.button {
  cursor: pointer;
  height: 2rem;
  padding: var(--ifm-button-padding-vertical);
  color: var(--ifm-font-color-base);
  gap: 0.5rem;
  display: flex;
  align-items: center;
}

.picker {
  margin-right: var(--ifm-button-padding-vertical);
}

.codeOnly .preview,
.codeOnly .controls,
.codeOnly .error,
.codeOnly .progress,
.codeOnly :global(.cm-editor) {
  display: none !important;
}
.codeOnly .editor .source {
  display: block;
  padding-left: 0;
}

.previewOnly .editor {
  display: none;
}
